/* General Animations */
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .home-container {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(37, 33, 40, 0.7), rgba(250, 250, 250, 0.7)), 
                url('../images//WebChat.png');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
  }
  
  .image-section .overlay {
    z-index: 1;
  }
  
  .image-section img {
    z-index: 0;
  }
  
  .content-section h1 {
    animation: fade-in 0.8s ease-in-out;
  }
  
  .content-section p {
    animation: fade-in 1s ease-in-out;
  }
  
  .buttons {
    animation: slide-up 1.2s ease-in-out;
  }
  
  button {
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  button:hover {
    transform: scale(1.05);
  }
  