.main-container{
    animation: notocome 1s ease-in-out;
}

.email-container{
    animation: slid-right 1s ease;
}


.password-container {
    animation: slide-left 1s ease;
  }
  
  @keyframes slide-left {
    from {
      opacity: 0;
      transform: translatex(100px); /* Moves element up (off-screen) */
    }
    to {
      opacity: 1;
      transform: translatex(0px); /* Moves element to its original position */
    }
  }
  
@keyframes slid-right{
    from{
        opacity: 0;
        transform: translatex(-100px);
    }
    to{
        opacity: 1;
        transform: translatex(0px);
    }
}

@keyframes notocome {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

